# Игнорировать файлы Python bytecode
*.pyc
__pycache__/

# Игнорировать файлы создаваемые IDE
*.idea/
*.vscode/
*.suo
*.cache
*.npy

# Игнорировать файлы локальной конфигурации
.env
config.ini

# Игнорировать файлы зависимостей и виртуального окружения Python
venv/
env/

# Игнорировать файлы формата эксель
*.xlsx

# Игнорировать ключи
*.json
